.clas2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.clas1 {
    background-color: #00a5ec;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.clas4 {
    background: #fff459;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.clas6 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.clas5 {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

.clas3 {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.clas3:hover {
    opacity: 1;
}

.clas3:hover {
    width: 300px;
}