* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url("./sky.jpg"); */
    overflow: hidden;
    /* border-top: 10px solid white;
    border-left: 10px solid orange;
    border-right: 10px solid green; */
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

#sun {
    width: 100px;
    height: 100px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 85vw;
}

@keyframes sun {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

#city {
    width: 200%;
    height: 70vh;
    position: absolute;
    animation: infinite 5s city linear reverse;
}

@keyframes city {
    from {
        left: -300px;
    }
    to {
        left: 0px;
    }
}

#sun {
    width: 100px;
    height: 100px;
    margin-left: 90%;
    float: right;
    position: absolute;
    animation: infinite 50s sun linear reverse;
}

@keyframes sun {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

#car {
    width: 380px;
    position: absolute;
    left: 35vw;
    bottom: 158px;
}

#flag {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 54%;
    bottom: 274px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#w1 {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 40.5%;
    bottom: 166px;
    animation: infinite 1s wheel linear;
}

#w2 {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 56.5%;
    bottom: 166px;
    animation: infinite 1s wheel linear;
}

@keyframes wheel {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #76b343;
}